body {
  background-color: #1f1e1e;
}

.board-container {
  transform: translateY(5rem);
  margin: auto;
  width: 500px;
  text-align: center;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
  border: 1px solid black;
  border-radius: 10px;
  border-radius: 10px 10px 30px 30px;
  -moz-border-radius: 10px 10px 30px 30px;
  -webkit-border-radius: 10px 10px 30px 30px;
  box-shadow: 0px -8px 8px green;
}

.board-square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.board-square:nth-child(even) {
  background-color: #f2f2f2;
}

.board-square-text {
  font-size: 24px;
  color: green;
}

.dice-button {
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  box-shadow: 1px 3px #50514f;
  outline: none;
  transition: 0.3s;
}

.next-turn-button {
  font-size: 16px;
  padding: 10px;
  box-shadow: 1px 2px #50514f;
  transition: 0.3s;
}

.dice-button,
.next-turn-button {
  display: inline-block;
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

.dice-button:hover,
.next-turn-button:hover {
  background-color: #327434;
  outline: none;
  cursor: pointer;
  transform: translateY(8px);
}

.dice-button:disabled,
.next-turn-button:disabled {
  background-color: #cccccc;
  color: #4d4c4c;
  cursor: default;
}

.winner {
  font-size: 44px;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  color: #cccccc;
}
